.error{
    color: red;
}
.input{
    width: 200px;
    height: 20px;
    border-radius: 5px;
    border: 2px solid red;

}
.inputDiv{
    margin-bottom: 20px;
}
.inputNorm{
    width: 200px;
    height: 20px;
    border-radius: 5px;
}