.container {
    max-width: 1200px;
    margin: 0 auto;

}

.menu {
    display: flex;
    justify-content: space-between;
}

.app-wrapper-content {
    width: 79%;
    height: auto;
    background-color: menu;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.22);
}