.img{
    width: 80px;
    height: 80px;
    border-radius: 50px

}

.container{
    padding: 10px;
    width: 95%;
    height: 100px;
    margin: 10px 0px 0px 10px;
    display: flex;
    justify-content: space-between;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 5px;
}
.item{
}
.status{
    font-size: 24px;
}
.select{
    font-weight: bold;
}