.navbar {
  width: 250px;
  height: 550px;
  background-color: menu;
  z-index: 22;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25),0 10px 10px rgba(0,0,0,0.22);
}
.item {
  font-size: 18px;
  letter-spacing: 3px;
  margin: 20px 0px 0px 20px;
  color: cornflowerblue;
  padding-top: 15px;
  cursor: pointer;
}

li {
  list-style: none;
}
